page-menu {
    ion-img{
        float: left;
        background: white;
        margin-top: 5px;
        margin-right: 40px;
        
    }
    button ion-button{
        margin-left: 3em;
    }
    
    
}
